https://www.kaggle.com/datasets/rakkesharv/forbes-2000-global-companies

In [9]:
import statistics

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [12]:
import seaborn as sns

In [13]:
import matplotlib.pyplot as plt

In [14]:
sns.set_theme(style="darkgrid")

In [15]:
forbes_data = pd.read_csv("datasets/forbes.csv")

In [16]:
forbes_data.head()

,Rank,Company,Country,Sales,Profits,Assets,Market Value,Sector,Industry
0,1,ICBC,China,151.4,42.0,3473.2,229.8,Financials,Major Banks
1,2,China Construction Bank,China,134.2,35.0,3016.6,200.5,Financials,Regional Banks
2,3,Berkshire Hathaway,United States,222.9,24.1,620.9,409.9,Financials,Investment Services
3,4,JPMorgan Chase,United States,102.5,24.2,2513.0,306.6,Financials,Major Banks
4,5,Wells Fargo,United States,97.6,21.9,1943.4,274.4,Financials,Major Banks

In [17]:
forbes_data.count()

Rank            2000
Company         2000
Country         2000
Sales           2000
Profits         2000
Assets          2000
Market Value    2000
Sector          1803
Industry        1509
dtype: int64

does this dataset hold any null values?

In [18]:
forbes_data.isnull().sum()

Rank              0
Company           0
Country           0
Sales             0
Profits           0
Assets            0
Market Value      0
Sector          197
Industry        491
dtype: int64

clean up the dataset from the NA values

In [19]:
forbes_data.dropna(inplace=True)

In [20]:
forbes_data.isnull().sum()

Rank            0
Company         0
Country         0
Sales           0
Profits         0
Assets          0
Market Value    0
Sector          0
Industry        0
dtype: int64

In [21]:
forbes_data.count()

Rank            1508
Company         1508
Country         1508
Sales           1508
Profits         1508
Assets          1508
Market Value    1508
Sector          1508
Industry        1508
dtype: int64

In [22]:
forbes_data.shape

(1508, 9)

Compute the Mean Market Value (a measure of central tendency)

In [27]:
mean_market_value = forbes_data["Market Value"].mean()

In [25]:
mean_market_value

26.978494031830238

Compute the Median Market Value (a measure of central tendency: the value at 50th percentile)

In [28]:
media_market_value = forbes_data["Market Value"].median()

In [29]:
media_market_value

13.1

the difference between the median and mean values indicates the impact of outliers in the dataset. The larger the difference the larger the effect of outliers.